.container
    padding: 5%
    display: flex
    align-items: center
    gap: 2rem
    flex-wrap: wrap
    .card
        padding: 2rem
        display: flex
        justify-content: start
        align-items: flex-start
        height: 15rem
        width: 25rem
        gap: 2rem
        border-radius: 1rem
        background-color: rgb(232,232,232, .5)
        .user
            position: relative
            .back
                z-index: 1
                height: 3rem
                width: 3rem
                position: absolute
                border-radius: 50%
                background-color: rgb(150, 37, 37)
            .name
                display: flex
                justify-content: center
                align-items: center
                width: 3rem
                height: 3rem
                position: relative
                color: white
                z-index: 2    

